.map {
    background-color: blue;
    box-shadow: inset 2px 2px 10px #222;
    height: 400px;
    width: 100vw;
    top: 0;
    left: 0;
    position: relative;
}

@media (min-width: 900px) {
    .map {
        height: 100vh;
        left: 35vw;
        width: 65vw;
    }
}